#formcreate{
  display: none;
}
.inputt{
display: inline-block;
width: 350px;
text-align: center;
}
.input1, .input2, .input3, .input4{
  width: 300px;
  height: 45px;
}
#centering{
  text-align: center;
  width: 100%;
}
