.oppList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
height: 80%;
overflow-y: scroll;


}
h5{
  font-size: 15px;
  color: white;
  margin-bottom: -20px;

}
.oppItem {
  width: 500px;
  height: 150px;
  background: rgba(214, 68, 57, 0.4);
  margin: 13px;
}

h2 {
  text-align: center;
  font-size: 25px;
}

h3 {
  text-align: left;
  font-size: 20px;
}

p {
  text-align: left;
  font-size: 17px;
}
#formz{
  margin-top: -10px;
}
